<appSettings>
	<add key="ida:AppID" value="720a90a9-29cd-4b95-803f-13c82af87bb9" />
	<add key="ida:AppSecret" value="GnZ8Q~zybOTeQaCiH04bzy6GpaTum~lQPp_tca25" />
	<add key="ida:RedirectUri" value="https://localhost:44306/signin-oidc" />
	<add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>